.body {
    width: 100%;
    height: auto;
    position: relative;
}

.boardImg {
    width: 100%;
    height: fit-content;
}

.BoothBox {
    width: 82%;
    height: 46.7%;
    position: absolute;
    top: 13%;
    left: 9%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 4px;
}