.boothPageContainer {
  position: relative;
  background-image: url("/images/텃밭.jpg");

  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.boothPageContainer > button {
  position: fixed;
  top: 30px;
  right: 30px;
  font-family: "Ownglyph PDH";
}

.boothContainer {
  display: flex;
  position: absolute;
  top: 200px;
  padding: 80px;
}
