* {
  font-family: "Nanum Gothic";
  box-sizing: border-box;
}

.Body {
  height: 100vh;
  background-color: #fffbf5;
  padding: 10px 30px;
}

.logo {
  margin-top: 30px;
}

.ChatContainer {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

.sendMessageContainer {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

.member-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  column-gap: 15px;
  margin: 13px 0 0 0;
  
}

.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 100px;
  left: 16px;
  width: calc(100% - 32px);
  height: 36px;
  display: flex;
  column-gap: 10px;
}

.message-container > img {
  width: 36px;
  height: 36px;
}

.input-container {
  background-color: #f1efe9;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 8.75px 13px;
  width: 100%;
}

.input-container > input {
  border: 0;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 12px;
}
