.container {
  width: 100%;
  height: 100%;
  background-color: #fdfaf4;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
}

.commentContainer {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 40px 50px;
  overflow: scroll;
}

.date {
  font-size: 13px;
  color: #d0d0d0;
}

.messageContainer {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  z-index: 10;
  height: 60px;
  column-gap: 10px;
  background-color: #fdfaf4;
  width: calc(100% - 32px);
  justify-content: center;
  padding-bottom: 70px;
  left: 16px;
  margin-top: 10px;
}

.inputContainer {
  background-color: #f1efe9;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 8.75px 13px;
  width: 100%;
}

.input {
  width: 100%;
  background-color: #f1efe9;
  border: 0;
}
.input:focus {
  outline: none;
}

.sendBtn {
  width: 36px;
  height: 36px;
}

.commentBox {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-bottom: 10px;
}

.handle {
  width: 100%;
  height: 40px;
  background-color: #ece8de;
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none; 
}

.bar {
  width: 40px;
  height: 6px;
  border-radius: 50px;
  background-color: #dad8d4;
}