.default-chat-container {
  position: absolute;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 6px;
}

.profile-container > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.profile-container > p {
  font-size: 10px;
}

.default-chat {
  background-image: url("../assets/images/Union.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 60%;
  min-width: 109.04px;
  width: fit-content;
  height: max-content;
  padding: 20px 16px 12px;
  position: relative;
  left: 42px;
  top: -14px;
  word-wrap: break-word;
  display: inline-block;
}

.default-chat > p {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}
