.EditPostContainer {
  height: calc(100% - 83px);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  z-index: 10;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.EditPostContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.EditPostContainer > p {
  z-index: 10;
  margin: 0;
}

.EditPostContainer {
  z-index: 2;
}

.canvasContainer {
  z-index: 10;
  display: flex;
  justify-content: center;
  width: calc(100% + 40px);
  background-color: #f1efe9;
  padding: 13px 16px;
  margin-left: -20px;
}

.EditPostContainer canvas {
  justify-self: center;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.stickerContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
  /* padding: 0 10px; */
}

.stickerContainer > button {
  border: 0;
  background-color: transparent;
}

.stickerContainer img {
  width: 70px;
  height: 70px;
}

.background {
  position: fixed;
  top: 110px;
  left: 0;
  z-index: 1;
  background-color: #f1efe9;
  height: 450px;
  width: 100%;
}
