.EditPostContainer {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.EditPostContainer > p {
  z-index: 10;
  margin: 0;
}

.canvasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.background {
  position: fixed;
  top: 105px;
  left: 0;
  z-index: -1;
  background-color: #f1efe9;
  height: 450px;
  width: 100%;
}

.stickerContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}

.stickerContainer > button {
  border: 0;
  background-color: transparent;
}

.stickerContainer img {
  width: 70px;
  height: 70px;
}

button {
  margin-bottom: 100px;
}
