.NutoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  margin-top: 20px;
}

.NutoCanvas {
  z-index: 19;
}

.canvas-container {
  z-index: 10;
}

.ChooseTomatoContainer {
  display: flex;
  justify-content: space-between;
  /* column-gap: 20px; */
  z-index: 10;
}

.ChooseTomatoContainer > div {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  align-items: center;
}

.ChooseTomatoContainer p {
  font-family: "Ownglyph PDH";
  text-align: center;
  color: #656565;
}

.NutoContainer input {
  position: fixed;
  background-color: transparent;
  border: 0;
  font-family: "Ownglyph PDH";
  font-size: 16px;
  top: 50%;
  width: 200px;
  left: calc(50% - 100px);
  color: white;
}

.NutoContainer img {
  margin-top: 14px;
}

.canvasContainer {
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f1efe9;
  padding: 13px 16px;
}

.EditPostContainer canvas {
  justify-self: center;
  position: relative;
  z-index: 10;
  margin: 0 auto;
}
