.EditPostContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  z-index: 10;
  position: relative;
  width: 100%;
}

.EditPostContainer > p {
  z-index: 10;
  margin: 0;
}

.EditPostContainer {
  z-index: 2;
}

.EditPostContainer > canvas {
  justify-self: center;
}

.stickerContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding: 0 10px; */
}

.stickerContainer > button {
  border: 0;
  background-color: transparent;
}

.stickerContainer img {
  width: 70px;
  height: 70px;
}

.background {
  position: fixed;
  top: 110px;
  left: 0;
  z-index: 1;
  background-color: #f1efe9;
  height: 450px;
  width: 100%;
}
