.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f1efe9;
  padding: 17px 0;
  border-radius: 25px 25px 0px 0px;
}

.FooterIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}

.FooterIconContainer > img {
  height: 22px;
}

.FooterIconContainer > p {
  font-size: 14px;
  color: #b5b5b5;
  margin: 0;
}
