.Header {
  display: flex;
  justify-content: space-between;
}

.HeaderBackImg {
  width: 26px;
  height: 18px;
  margin-left: 17px;
}

.HeaderNextImg {
  width: 30px;
  height: 21px;
  margin-right: 21px;
}
