@font-face {
    font-family: 'NanumGothic';
    src: url('../fonts/NanumGothic.ttf') format('truetype');
}

.body {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #FDFAF4;
    overflow: scroll;
}
.body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.logo {
    margin-top: 32px;
    margin-bottom: 56px;
    margin-left: 16px;
}
