@font-face {
    font-family: 'NanumGothic';
    src: url('../fonts/NanumGothic.ttf') format('truetype');
}

.body {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #FDFAF4;
    overflow: scroll;
}
.body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.logo {
    margin-top: 32px;
    margin-bottom: 56px;
    margin-left: 16px;
}

.backgroundModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999; 
}

.commentModal {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    z-index: 99999;
}