.Member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Member > img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.Member > p {
  font-family: "NanumGothic";
  font-size: 12px;
}
