p {
  margin: 0;
}

.BoothContainer {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 30px;
}

.NameContainer {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 30px;
}

.NameContainer > input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(101, 101, 101, 0.4);
  border-radius: 3px;
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 30px;
}

.ImageContainer > .InputImage {
  display: flex;
  column-gap: 8.7px;
}

.ImageContainer button {
  width: 71px;
  height: 66px;
  background-color: #ffffff;
  border: 1px solid rgba(101, 101, 101, 0.4);
  border-radius: 3px;
}

.ImageContainer img {
  width: 71px;
  height: 66px;
  border-radius: 3px;
}
