@font-face {
  font-family: "Ownglyph";
  src: url("../fonts/온글잎 박다현체.ttf") format("truetype");
}

.gardenContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nutoHeader {
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
  padding-left: 75px;
  padding-right: 58px;
  position: absolute;
}

.goBooth {
  font-family: "Ownglyph";
  font-size: 32px;
  color: #d52122;
}

.qrContainer > canvas {
  position: fixed;
  width: 400px !important;
  height: 400px !important;
  top: calc(50% - 80px);
  left: calc(50% - 200px);
}
